
<!-- <ul>
  <li ng-repeat="item in $ctrl.items" >
    {{ item.short_name }} {{ item.name }}  {{ item.special_instructions }}
  </li>
</ul> -->
<div style="margin-left: 5px; margin-top: 20px; float: left;">
  <table >
    <tr ng-repeat="item in $ctrl.items"  >
      <td ui-sref="items({categId: item.short_name})"> {{ item.short_name }} </td>
      <td ui-sref="items({categId: item.short_name})"> {{ item.name }} </td>
      <td ui-sref="items({categId: item.short_name})"> {{ item.special_instructions }} </td>
    </tr>
  </table>
</div>
